body {
  font-family: Arial, sans-serif;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #030303;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to fill the viewport */
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #0b0c0d;
}
a:hover {
  color: #3a8def;
}

.pageContainer {
  width: 900px; /* Adjust the width as needed */
  max-height: none; /* Remove maximum height */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  margin: auto; /* Center the container horizontally */
  min-height: 100vh; /* Set minimum height to fill the viewport */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerInfo {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  padding-bottom: 10px; /* Add some space below the header */
}

#name {
  padding-left: 20px; /* Add left padding to name for some space from the edge */
  margin-bottom: 60px; /* Adjust margin bottom to move name up */
  padding-left: 20px; /* Add left padding to name for some space from the edge */
}

#contact-info {
  list-style-type: none; /* Remove bullets from the list */
  margin: 10px 0 0; /* Adjust top margin to move it down */
  padding: 0;
}

#contact-info li {
  margin-left: 0; /* Remove margin to align vertically */
  margin-bottom: 10px; /* Add space between contact info items */
}

.skillsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.skillsContainer > div {
  background-color: rgba(255, 255, 255, 0.951);
  text-align: center;
}

#aws-cert img {
  max-width: 50px; /* Set max width for the image */
  height: auto; /* Maintain aspect ratio */
}

#count {
  color: #3a8def;
}

section {
  margin-top: 30px; /* Add space above each section */
  border-top: 1px solid #2260e6; /* Add thin black line between sections */
  padding-top: 20px; /* Add space above section content */
}
